.block1 {
position: absolute;
width: 1920px;
height: 6364px;
left: -17px;
top: 0px;

background: #121212;
}


/* Политика конфиденциальности */
.politics-1 {
position: absolute;
width: 934px;
height: 40px;
left: 555px;
top: 70px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 118%;
/* or 57px */


color: #00FFD1;
}

.txt {
position: absolute;
width: 1584px;
height: 5964px;
left: 216px;
top: 180px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 118%;
/* or 28px */


color: #FFFFFF;
}


.block-for-get-back {
position: absolute;
width: 269px;
height: 50px;
left: 1607px;
top: 6294px;

background: rgba(217, 217, 217, 0.3);
opacity: 0.6;
border-radius: 36px;
}


/* Главное меню */
.get-back {
position: absolute;
width: 245px;
height: 37px;
left: 1650px;
top: 6303px;
text-decoration: none;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 118%;


color: #FFFFFF;
}




















/*конец*/
.block-end {
position: absolute;
width: 1920px;
height: 308px;
left: -17px;
top: 6364px;

background: #3C3C3C;
}

.logo-end {
position: absolute;
width: 292px;
height: 129px;
left: 343px;
top: 6425px;
}

.txt-end {
position: absolute;
width: 528px;
height: 57px;
left: 417px;
top: 6522px;
}

.vk-end {
position: absolute;
width: 58px;
height: 58px;
left: 1289px;
top: 6468px;
}

.instagram-end {
position: absolute;
width: 58px;
height: 58px;
left: 1380px;
top: 6468px;
}

.politic-end {
position: absolute;
width: 274px;
height: 19px;
left: 1284px;
top: 6548px;
}